<div class="inicio-container">
    <h2>✏️ Registro de Avaliações</h2>

    <div class="botoes-container">
        <button class="botao" (click)="irParaTurmas()">
            <img src="/assets/Turmas.png" alt="Turmas">
            <span>Turmas</span>
        </button>

        <button class="botao" (click)="irParaAlunos()">
            <img src="assets/Alunos.png" alt="Alunos">
            <span>Alunos</span>
        </button>

        <button class="botao" (click)="irParaAvaliacoes()">
            <img src="assets/Avaliacoes.png" alt="Avaliações">
            <span>Avaliações</span>
        </button>
    </div>
</div>
