<div class="lista-container">
    <div class="lista-header">
        <button class="voltar-btn" (click)="voltarParaInicio()" aria-label="Voltar">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/>
            </svg>
        </button>
        <img src="/assets/Alunos.png" alt="Alunos" class="icone-titulo">
        <h2>Alunos</h2>
    </div>

    <div class="filtro-container">
        <label>Ano vigente:</label>
        <select [(ngModel)]="anoSelecionado" (change)="carregarTurmas()">
            <option *ngFor="let ano of anos" [value]="ano">{{ ano }}</option>
        </select>

        <label>Turma:</label>
        <select [(ngModel)]="turmaSelecionada" (change)="buscarAlunos()">
            <option [value]="null">Todas</option>
            <option *ngFor="let turma of turmas" [value]="turma.id">{{ turma.nome }}</option>
        </select>
    </div>

    <div class="grid-container">
        <div class="grid-header">
            <div>Aluno</div>
        </div>
        <div *ngFor="let aluno of alunos" class="grid-row" (click)="editarAluno(aluno.id)">
            <div>{{ aluno.nome }}</div>
        </div>
    </div>

    <button class="botao-flutuante" (click)="irParaCadastroAluno()" aria-label="Adicionar Aluno">
        <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#fff">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
        </svg>
    </button>
</div>
